{% load static %}
<!DOCTYPE html>
<html lang="it">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}SECURTEK{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    {% block extra_css %}{% endblock %}

</head>

<body>

<div class="app">

    {% include "base/navbar.html" %}

    <div class="container">

        {% include "base/sidebar.html" %}

        <main>

            {% include "base/messages.html" %}

            {% block content %}
            {% endblock %}

        </main>

    </div>

    {% include "base/footer.html" %}

</div>

<script src="{% static 'js/app.js' %}"></script>

{% block extra_js %}{% endblock %}

</body>
</html>