<div class="col-sm-6 col-lg-3">
    <div class="card">
        <div class="card-body">

            <div class="d-flex align-items-center">

                <div class="me-3">
                    <i class="ti ti-{{ icon }} fs-1 text-{{ color }}"></i>
                </div>

                <div>
                    <div class="text-secondary">
                        {{ title }}
                    </div>

                    <div class="h1 mb-0">
                        {{ value }}
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>