<div class="col-md-6 col-xl-3">
    <div class="card">
        <div class="card-body">

            <div class="d-flex justify-content-between align-items-center">

                <div>
                    <div class="text-secondary">
                        {{ title }}
                    </div>

                    <div class="h1 mb-0">
                        {{ value }}
                    </div>
                </div>

                <div>
                    <i class="ti ti-{{ icon }} fs-1 text-{{ color }}"></i>
                </div>

            </div>

        </div>
    </div>
</div>