{% extends "base/layout.html" %}

{% block content %}

<div class="container-xl">

    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Nuova Azienda</h3>
        </div>

        <form method="post">

            {% csrf_token %}

            <div class="card-body">

                {{ form.as_p }}

            </div>

            <div class="card-footer text-end">

                <button class="btn btn-primary">
                    Salva
                </button>

            </div>

        </form>

    </div>

</div>

{% endblock %}